@page "/system/user/userrole"
@model Simple.Admin.RazorLibrary.Pages.System.User.UserRoleModel

<div class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label">角色：</label>
                <div class="layui-input-block">
                    @{
                        var index = 0;
                    }
                    @foreach (var item in Model.Options)
                    {
                        <input @(item.Checked ? "checked" : "") type="checkbox" value="@item.Value" title="@(item.Name + (!string.IsNullOrEmpty(item.Remark) ? $"【{item.Remark}】" : ""))" name="roleIds[@(index++)]" lay-filter="role-id" lay-skin="tag">
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit
                    lay-filter="save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        layui.use(['form', 'jquery', 'common'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;

            form.on('submit(save)', function (data) {
                let ids = []
                for (const key in data.field) {
                    if (key.indexOf('roleIds') != -1) {
                        ids.push(data.field[key])
                    }
                }
                common.submit('/api/User/SetUserRole', { userId: '@Model.Id', roleIds: ids }, null, 'user-table')
                return false;
            });
        })
    </script>
}