@page "/Development/SysTask"
@attribute [AuthorizeCode("Development:SysTask")]
@attribute [Authorize]
@{
    ViewData["PC"] = true;
}

<!--table-->
<div class="layui-card">
    <div class="layui-card-body">
        <table id="main-table" lay-filter="main-table"></table>
    </div>
</div>

@section Scripts{
    <script type="text/html" id="main-bar">
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>
        </button>
    </script>

    <script>
        layui.use(['table', 'form', 'jquery', 'common'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let pageRootUrl = "/api/SysTask/";

            table.render({
                elem: '#main-table',
                url: pageRootUrl + 'GetList',
                page: false,
                contentType: 'application/json',
                method: 'post',
                cols: [[
                    {
                        type: 'numbers'
                    },
                    {
                        title: '编号',
                        field: 'id',
                        align: 'center'
                    },
                    {
                        title: '任务名称',
                        field: 'taskName',
                        align: 'center'
                    },
                    {
                        title: '执行周期',
                        field: 'cron',
                        align: 'center'
                    },
                    {
                        title: '额外参数',
                        field: 'extraParams',
                        align: 'center',
                        templet: (d) => common.handleNullValue(d, 'extraParams')
                    },
                    {
                        title: '描述',
                        field: 'remark',
                        align: 'center'
                    },
                    {
                        title: '状态',
                        field: 'isEnabled',
                        align: 'center',
                        templet:function(d){
                            if (d.isEnabled === 1) {
                                return `<span class="layui-badge layui-bg-green">启用</span>`
                            }
                            return `<span class="layui-badge layui-bg-orange">禁用</span>`
                        }
                    },
                    {
                        title: '上次执行时间',
                        field: 'executedTime',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        toolbar: '#main-bar',
                        align: 'center',
                        width: 100
                    }
                ]],
                skin: 'line',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter'],
                parseData: function (res) {
                    return {
                        "code": common.tableCode(res.code),
                        "msg": res.message,
                        "count": res.result.length,
                        "data": res.result
                    };
                }
            });

            table.on('tool(main-table)', function (obj) {
                if (obj.event === 'edit') {
                    window.edit(obj.data['id']);
                }
            });

            window.refresh = function (param) {
                table.reload('main-table');
            }

            window.edit = function (id) {
                layer.open({
                    type: 2,
                    title: '编辑',
                    shade: 0.1,
                    area: ['500px', '440px'],
                    content: "/Development/SysTask/Edit?id=" + id
                });
            }
        })
    </script>
}