@model SysRole

<div class="layui-form">
    @Html.HiddenFor(x=>x.Id)
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label mi-required-label">角色名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" value="@Model.RoleName" lay-verify="required" autocomplete="off" placeholder="请输入用户名"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="remark" value="@Model.Remark" autocomplete="off" placeholder="请输入备注"
                           class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit
                    lay-filter="role-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        layui.use(['form', 'jquery', 'common'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;

            form.on('submit(role-save)', function (data) {
                var str = $.param(data.field)
                $.ajax({
                    url: '/System/Role/@(Model.Id > 0 ? "UpdateRole" : "AddRole")?' + str,
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        if (MiUtils.ajaxSucceed(result.code)) {
                            layer.msg(result.message, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                                parent.window.refresh()
                            });
                        } else {
                            layer.msg(result.message, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
                return false;
            });
        })
    </script>
}