@{
    ViewData["PC"] = true;
}

<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">角色名</label>
                <div class="layui-input-inline">
                    <input type="text" name="roleName" placeholder="请输入角色名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <permission-button class-name="pear-btn pear-btn-primary pear-btn-md" lay-submit="true" lay-filter="role-query" auth-code="System:Role:Query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </permission-button>
                <permission-button class-name="pear-btn pear-btn-md" id="btnReset" auth-code="System:Role:Query">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </permission-button>
            </div>
        </div>
    </div>
</div>
<!--table-->
<div class="layui-card">
    <div class="layui-card-body">
        <table id="role-table" lay-filter="role-table"></table>
    </div>
</div>

@section Scripts{
    <script type="text/html" id="role-toolbar">
        <permission-button class-name="pear-btn pear-btn-primary pear-btn-md" auth-code="System:Role:AddOrUpdate" lay-event="add">
             <i class="layui-icon layui-icon-add-1"></i>
             新增
        </permission-button>
    </script>

    <script type="text/html" id="role-bar">
        <permission-button class-name="pear-btn pear-btn-primary pear-btn-sm" auth-code="System:Role:AddOrUpdate" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>
        </permission-button>
        <permission-button class-name="pear-btn pear-btn-warming pear-btn-sm" auth-code="System:Role:AssignFunctions" lay-event="power">
            <i class="layui-icon layui-icon-vercode"></i>
        </permission-button>
        <permission-button class-name="pear-btn pear-btn-danger pear-btn-sm" auth-code="System:Role:Remove" lay-event="remove">
            <i class="layui-icon layui-icon-delete"></i>
        </permission-button>
    </script>

    <script>
        layui.use(['table', 'form', 'jquery', 'common'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let pageRootUrl = "/System/Role/";

            table.render({
                elem: '#role-table',
                url: pageRootUrl + 'GetRoleList',
                page: true,
                request: {
                    limitName: 'size'
                },
                contentType: 'application/json',
                method: 'post',
                cols: [[
                    {
                        type: 'numbers'
                    },
                    {
                        title: '角色名',
                        field: 'roleName',
                        align: 'center'
                    },
                    {
                        title: '备注',
                        field: 'remark',
                        align: 'center'
                    },
                    {
                        title: '创建时间',
                        field: 'createdOn',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        toolbar: '#role-bar',
                        align: 'center',
                        width: 180
                    }
                ]],
                skin: 'line',
                toolbar: '#role-toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter'],
                parseData: function (res) {
                    let paging = common.pagingResult(res);
                    return {
                        "code": common.tableCode(res.code),
                        "msg": res.message,
                        "count": paging.total,
                        "data": paging.data
                    };
                }
            });

            table.on('toolbar(role-table)', function (obj) {
                if (obj.event === 'add') {
                    window.add();
                } else if (obj.event === 'refresh') {
                    window.refresh();
                }
            });

            table.on('tool(role-table)', function (obj) {
                if (obj.event === 'remove') {
                    window.remove(obj);
                } else if (obj.event === 'edit') {
                    window.edit(obj);
                } else if (obj.event === 'power') {
                    layer.open({
                        type: 2,
                        title: '授权',
                        shade: 0.1,
                        area: ['80%', '75%'],
                        content: pageRootUrl + 'RoleAuthorization?id=' + obj.data['id']
                    });
                }
            });

            form.on('submit(role-query)', function (data) {
                table.reload('role-table', {
                    where: data.field,
                    page: {
                        curr: 1
                    }
                })
                return false;
            });

            $("#btnReset").click(function () {
                $("input[name='roleName']").val('');
                table.reload('role-table', {
                    where: {}
                })
            })

            window.refresh = function (param) {
                table.reload('role-table');
            }

            window.add = function () {
                layer.open({
                    type: 2,
                    title: '新增',
                    shade: 0.1,
                    area: ['500px', '300px'],
                    content: pageRootUrl + 'Edit'
                });
            }

            window.edit = function (obj) {
                layer.open({
                    type: 2,
                    title: '编辑',
                    shade: 0.1,
                    area: ['500px', '300px'],
                    content: pageRootUrl + 'Edit?id=' + obj.data['id']
                });
            }

            window.remove = function (obj) {
                layer.confirm('确定要删除该角色', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: pageRootUrl + "RemoveRole?id=" + obj.data['id'],
                        dataType: 'json',
                        type: 'post',
                        success: function (result) {
                            layer.close(loading);
                            if (MiUtils.ajaxSucceed(result.code)) {
                                layer.msg(result.message, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    window.refresh()
                                });
                            } else {
                                layer.msg(result.message, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }
        })
    </script>
}